
.dashboardIndex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}




.ordersRecipesIngredientsCountHolder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}





.recentOrdersHolder h2{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}





.ordersNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.ordersNumbersHolderTitle{
    padding: 0px 24px;
}

.ordersNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.ordersNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ordersNumbersHolder .ordersNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem h5{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem h4{
    margin: 0px;

    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}




.ingredientsNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.ingredientsNumbersHolderTitle{
    padding: 0px 24px;
}

.ingredientsNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.ingredientsNumbersHolder .ingredientsNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
}

.ingredientsNumbersHolder .ingredientsNumbersHolderContent h4{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.ingredientsNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}





.recipesNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.recipesNumbersHolderTitle{
    padding: 0px 24px;
}

.recipesNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.recipesNumbersHolder .recipesNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
}

.recipesNumbersHolder .recipesNumbersHolderContent h4{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.recipesNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}




.recentOrdersHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 26px 30px 26px;
    margin-top: 16px;
}

.recentOrderHolder{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.recentOrderHolderTitle{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.recentOrdersHolder .recentOrderHolderTitle h5{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.recentOrdersHolder .recentOrderHolder h5{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.recentOrdersHolder h5{
    margin: 0px;
}

.recentOrdersHolder .orderName{
    flex: 3;
}

.recentOrdersHolder .orderDate{
    flex: 1;
}

.recentOrdersHolder .orderStatus{
    flex: 1;
}

.recentOrdersHolder .orderRecipe{
    flex: 1;
}

.recentOrdersHolder .orderCost{
    flex: 1;
}