
.dashboardIndex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}




.ordersRecipesInventoryCountHolder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}

.launchProfitTableHolder{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 25px 0px;

}

.launchProfitTableDetail{
    width:33.3%;
    font-size: 16px;
    max-width: 60%;
    line-height: 26px;
}

.launchProfitTableButton{
    width:33.3%;
    text-align: center;
}


.recentOrders {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    background: rgba(189, 91, 252, 0.85);
    color:#FFFFFF;
    display:flex;
    padding: 18px; 
    justify-content: center;
}

.recentOrders h2{
    font-size: 18px;
}





.ordersNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.ordersNumbersHolderTitle{
    padding: 0px 24px;
}

.ordersNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.ordersNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ordersNumbersHolder .ordersNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem h5{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.ordersNumbersHolder .ordersNumbersHolderContent .ordersNumbersHolderContentItem h4{
    margin: 0px;

    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}




.inventoryNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.inventoryNumbersHolderTitle{
    padding: 0px 24px;
}

.inventoryNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.inventoryNumbersHolder .inventoryNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
}

.inventoryNumbersHolder .inventoryNumbersHolderContent h4{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.inventoryNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}





.productNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.productNumbersHolderTitle{
    padding: 0px 24px;
}

.productNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.productNumbersHolder .productNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
}

.productNumbersHolder .productNumbersHolderContent h4{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.productNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}





.recipesNumbersHolder{
    padding-bottom: 24px;
    padding-top: 24px;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.recipesNumbersHolderTitle{
    padding: 0px 24px;
}

.recipesNumbersHolderTitle h3{
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.recipesNumbersHolder .recipesNumbersHolderContent{
    padding: 0px 24px;
    display: flex;
    justify-content: center;
}

.recipesNumbersHolder .recipesNumbersHolderContent h4{
    margin: 0px 0px 6px 0px;

    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.recipesNumbersHolder hr{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}




.recentOrdersHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    border:1px solid rgba(189, 91, 252, 0.85);
    border-radius: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    
}

.recentOrderHolder{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.recentOrderHolderTitle{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.recentOrdersHolder .recentOrderHolderTitle h5{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.recentOrdersHolder .recentOrderHolder h5{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.recentOrdersHolder h5{
    margin: 0px;
}

.recentOrdersHolder .orderName{
    flex: 3;
}

.recentOrdersHolder .orderDate{
    flex: 1;
}

.recentOrdersHolder .orderStatus{
    flex: 1;
}

.recentOrdersHolder .orderRecipe{
    flex: 1;
}

.recentOrdersHolder .orderCost{
    flex: 1;
}





/*
New UI
*/


.tabbedListTable{
    border-spacing: 1px 10px;
    border-collapse: separate;
    padding: 30px 45px 30px 45px;
}

.tabbedListTable tr{
    background: #F2F2F2;
    max-height: 80px;
}

.tabbedListTable th{
    text-align: left;
    padding-left: 65px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 16px;
    font-weight: 400;
    border-right: 1px solid #BD5BFC;
    max-height: 80px;
}

.tabbedListTable td{
    text-align: left;
    padding-left: 65px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-right: 1px solid #BD5BFC;
    max-height: 80px;
}

.tabbedListTable th:last-child{
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabbedListTable td:last-child {
    border-right: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabbedListTable th:first-child {
    color: #BD5BFC;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tabbedListTable td:first-child {
    color: #BD5BFC;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}