@import url('https://fonts.googleapis.com/css?family=DM+Sans:200,300,400,500,600,700,800,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: #F6F6F6;;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

.description{
  font-weight: 500;
}




.nameLogo{
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0px;
}




.pageHolder{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}

.pageHolder .pageHolderContent{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.pageHolder .pageHolderContent .pageHolderContentTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHolderContent .pageHolderContentTop div button{
  margin-left: 16px;
}

/*
Padding
*/

.smallPadding{
  padding: 16px;
}

.mediumPadding{
  padding: 24px;
}

.largePadding{
  padding: 40px;
}



/*
Buttons
*/

button{
    border-radius: 8px;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding: 12px 24px;
    border: none;
}

button:hover{
    cursor: pointer;
}


input{
    border-radius: 8px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding: 12px 24px;
    border: 1px solid #000000;
    width: 100%;
}

button:hover{
  cursor: pointer;
}

.primaryButton{
    background: #73956f;
    color: #FFFFFF;
}

.secondaryButton{
    background: #7bae7f;
    color: #FFFFFF;
}

.redButton{
    background: #E41F26;
    color: #FFFFFF;
}

.greyButton{
    background: #CCCCCC;
    color: #000000;
}

.flatButton{
    background: rgba(0,0,0,0);
    border: none;
    padding: 8px;

}

.link{
    text-decoration: underline;
}

/*
text
*/


.pageTitle{
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.colorWhite{
    color: #FFFFFF;
}

.colorBlack{
   color: #000000;
}





/*
colors
*/

.colorPrimary{
  color: #73956f;
}

.colorSecondary{
  color: #7bae7f;
}




/*
Input Filed Holder
*/

.inputFieldHolder{
  margin-bottom: 30px;
}

.inputFieldHolder h4{
  margin: 0px 0px 8px 0px;
  font-weight: 500;
  font-size: 18px;
}

.inputFieldHolder h5{
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
}




/*
box
*/


.whiteBox{
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
}




.popUp{
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 10;
   background: rgba(0,0,0,0.3);
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popUpInnerContent{
   background: #FFFFFF;
   border-radius: 8px;
   box-shadow: -11.4052px 24.4397px 16.2931px rgba(0, 0, 0, 0.05);
   padding: 24px;
   display: flex;
   flex-direction: column;
   min-width: 200px;
   width: 400px;
}

.popUpInnerContent h3{
   margin-bottom: 30px;
   color: #73956f;
}

.popButtonHolder{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-top: 24px;
}

.popButtonHolder > *{
   margin-right: 16px;
}




.indexMain{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
}

.indexMain h4{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFFFFF;
    text-align: center;
}

.indexMain h3{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #FFFFFF;
  text-align: center;
}

.indexMain button{
    background: #73956f;
    color: #FFFFFF;
    margin-top: 30px;
}