
.indexHolder{
    width: 100%;
    height: 100vh;
    background: url("/images/indexbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}