
.recipesIndex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.recipesIndex .recipesTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipesIndex .recipesTop h2{
    margin: 0;
}

.recipesIndex h4{
    margin: 8px 0px;
}

.recipesButton{
    background: #73956f;
    color: #FFFFFF;
    width: 150px;
    margin-left: 16px;
}

.recipesListHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 26px 30px 26px;
    margin-top: 16px;
}

.recipesListHolderTitle{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
}

.recipeItemHolder{
    width: 100%;
    display: flex;
    padding: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.recipesListHolderTitle h5{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}


.recipesListHolder .recipeName{
    flex: 3;
}

.recipesListHolder .recipeDate{
    flex: 1;
}

.recipesListHolder .recipeStatus{
    flex: 1;
}

.recipesListHolder .recipeTotalCost{
    flex: 1;
}

.recipesListHolder .recipeFulfilled{
    flex: 1;
}

.recipesListHolder .recipeLabourCost{
    flex: 1;
}

.recipesListHolder .recipeIngredientCount{
    flex: 1;
}

.recipesListHolder .recipeIngredientDelete{
    flex: 1;
}



/*
Recipe Content Holder
*/

.recipeContentHolder{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-top: 50px;
}

.recipeContentHolder .recipeContentHolderTopContent{
    width: 100%;
    display: flex;
}

.pageHolderContent .pageHolderContentTop div button{
    margin-left: 16px;
}

.recipeContentHolder .recipeContentHolderTopContent div{
    width: 130px;
    padding: 12px;
    border-right: 1px solid #000000;
}

.recipeContentHolder .recipeContentHolderTopContent div:hover{
    cursor: pointer;
}

.recipeContentHolder .recipeContentHolderTopContent .selected{
    background: #73956f;
    color: #FFFFFF;
}


.recipeContentHolderTopContentDetails{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


/*
recipe Details Holder
*/

.recipeDetailsHolder{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #000000;
    margin-top: 6px;
    border-radius: 8px;
    padding: 12px;
    background: #FFFFFF;
}

.detailsHolderTitles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #000000;
    padding-right: 16px;
}

.detailsHolderContent{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 16px;
}

.detailsHolderTitles h5{
    padding: 12px 0px;
    font-weight: 500;
    font-size: 16px;
}   

.detailsHolderContent h5{
    padding: 12px 0px;
    font-weight: 600px;
    font-size: 16px;
}







.ingredientsList{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #000000;
    margin-top: 6px;
    border-radius: 8px;
    padding: 12px;
}

.ingredientItemHolder{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredientsHolderTitle{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.ingredientsList .ingredientsHolderTitle h5{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.ingredientsList .ingredientItemHolder h5{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.ingredientsList h5{
    margin: 0px;
}

.ingredientsList .ingredientName{
    flex: 3;
}

.ingredientsList .ingredientPQ{
    flex: 2;
}

.ingredientsList .ingredientPS{
    flex: 2;
}

.ingredientsList .ingredientPrice{
    flex: 2;
}

.ingredientsList .ingredientEdit{
    flex: 1;
}

.ingredientsList .ingredientSelect{
    flex: 1;
}





/*
Add Ingredients Component
*/

.addIngredients{
    width: 700px;
    padding: 24px;
}

.addIngredients h3{
    margin: 0px;
    font-size: 24px;
}



.ingredientToAddItemHolder{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px; 
    padding: 8px 8px;
}

.ingredientToAddItemHolder h5{
    margin: 0px;
}

.ingredientToAddItemHolder .ingredientSelectAdd{
    flex: 2;
}

.ingredientToAddItemHolder .ingredientNameAdd{
    flex: 2;
}

.ingredientToAddItemHolder .ingredientPQAdd{
    flex: 1;
}

.ingredientToAddItemHolder .ingredientPSAdd{
    flex: 1;
}

.ingredientToAddItemHolder .ingredientPriceAdd{
    flex: 1;
}



.ingredientsHolderTitleToAdd{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px; 
}

.ingredientsHolderTitleToAdd h5{
    font-weight: 600;
}

.ingredientsHolderTitleToAdd .ingredientSelectAdd{
    flex: 2;
}

.ingredientsHolderTitleToAdd .ingredientNameAdd{
    flex: 2;
}

.ingredientsHolderTitleToAdd .ingredientPQAdd{
    flex: 1;
}

.ingredientsHolderTitleToAdd .ingredientPSAdd{
    flex: 1;
}

.ingredientsHolderTitleToAdd .ingredientPriceAdd{
    flex: 1;
}