
.settingsPageHolder{
    background: #FFFFFF;
    margin-top: 55px;
    padding-top: 30px;
}

.settingsIndex{
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.settingsIndexTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsDetails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    width: 100%;
}


.settingsDetails .settingsInputFieldHolder{
    display: flex;
    align-items: center;
    margin: 0px 16px;
}

.settingsDetails .settingsInputFieldHolder h4{
    margin: 0px 0px 0px 0px;
    font-weight: 500;
    font-size: 18px;
}


.settingsIndexTop .editButton{
    padding: 12px 24px;
    max-height: 50px;
    color: #FFFFFF;
    width: 150px;
}

.settingsButtonsHolder{
    margin-top: 30px;
}

.settingsButtonsHolder div > * {
    margin-right: 24px;
}

.signOutButton{
    margin-top: 80px;
    
}